<ul>
  <li>
    <%= comment.body %>
    <br>
    <%= comment.author.username %>
    <br>
    <form action="/comments" method="POST">
      <label for="add_comment">Add Comment</label><input type="text" name="comment[body]" value="" id="add_comment">
      <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
      <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>" id="comment[parent_comment_id]">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Add Comment" id="">
    </form>
    <%= render @comments[comment.id] unless @comments[comment.id].nil? %>
  </li>
</ul>