<%= %>
<%= @link.title %>
<br>
<%= @link.url %>
<br>
<%= @link.description %>
<br>
<%= @link.submitter.username %>
<br>
<% if current_user == @link.submitter %>
  <%= link_to "Edit", edit_link_url(@link) %>
<% end %>

Comments
<form action="/comments" method="POST">
  <label for="add_comment">Add Comment</label><input type="text" name="comment[body]" value="" id="add_comment">
  <input type="hidden" name="comment[link_id]" value="<%= @link.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Add Comment" id="">
</form>
<%= render @comments[nil] unless @comments[nil].nil? %>
