Edit Link
<form action="<%= link_url(@link) %>" method="POST">
  <label for="link_title">Title</label><input type="text" name="link[title]" value="<%= @link.title %>" id="link_title">
  <label for="link_url"></label><input type="text" name="link[url]" value="<%= @link.url %>" id="link_url">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="link_description"></label><textarea name="link[description]" id="link_description"><%= @link.description %></textarea>
  <% Sub.all.each do |sub| %>
    <label for="link_sub_<%= sub.id %>"></label><input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>" id="link_sub_<%= sub.id %>" <%= "checked".html_safe if @link.sub_ids.include?(sub.id) %>>
    <br>
  <% end %>
  <label>Comments to Show</label>
  <% top_level_comments = @link.comments_by_parent_id[nil] || [] %>
  <% top_level_comments.each do |comment| %>
  <label>
    <%= comment.body %>
    <input type="checkbox" name="link[comment_ids][]" value='<%= comment.id %>'
      <%= "checked".html_safe if @link.comment_ids.include?(comment.id)%>>
  </label>
  <% end %>
  <input type="hidden" name="link[comment_ids][]" value="">
  <input type="submit" value="Update Link">
</form>