Submit Link
<form action="/links" method="POST">
  <label for="link_title">Title</label><input type="text" name="link[title]" value="<%= @link.title %>" id="link_title">
  <label for="link_url">URL</label><input type="text" name="link[url]" value="<%= @link.url %>" id="link_url">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="link_description">Description</label><textarea name="link[description]" id="link_description"><%= @link.description %></textarea>
  <% Sub.all.each do |sub| %>
    <label for="link_sub_<%= sub.id %>"><%= sub.name %></label><input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>" id="link_sub_<%= sub.id %>" <%= "checked".html_safe if @link.sub_ids.include?(sub.id) %>>
    <br>
  <% end %>
  <label for="add_comment">Add Comment</label><input type="text" name="comment[body]" value="" id="add_comment">
  <input type="submit" value="Submit Link">
</form>