Edit Sub
<form action="<%= sub_url(@sub) %>" method="post">
  <label for="sub_name">Name</label>
  <input type="text" id="sub_name" name="sub[name]" value="<%= @sub.name %>">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <br>
  <input type="submit" value="Update Sub">
</form>