Create Sub
<form action="/subs" method="post">
  <label for="sub_name">Name</label>
  <input type="text" id="sub_name" name="sub[name]">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <br>
  <input type="submit" value="Create new Sub">
</form>