<%= @sub.name %>
<ul>
  <% @links.each do |link| %>
    <li>
      <%= link.popularity %>
      <%= button_to "Upvote", link_upvote_url(link) %>
      <%= button_to "Downvote", link_downvote_url(link) %>
      <%= link_to link.title, link_url(link) %>
    </li>
  <% end %>
</ul>
<%= paginate @links %>
